:root {
    --color-plum-purple: #600060;
    --color-coral-pink: #CA6060;
    --color-carbon-black: #000000;
    --color-cask-beige: #EFD7CE;
    --color-mint-green: #8FC8B3;
}

div#hero {
    height: 800px;
}

div#headline {
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

#about {
    margin-top: 60px;
}

#about h2 {
    color: var(--color-plum-purple);
}

#about span {
    color: var(--color-carbon-black);
}

#how-to h3 {
    color: var(--color-plum-purple);
}

#how-to span {
    /* max-width: 230px; */
    color: var(--color-carbon-black);
}

#highlights, #products-list {
    background-color: var(--color-cask-beige);
}

.active-price {
    color: var(--color-plum-purple);
    border-color: var(--color-plum-purple) ;
}

.active-price-light {
    color: var(--color-mint-green);
    border-color: var(--color-mint-green) ;
}

.attribute-label {
    background-color: var(--color-cask-beige);
}

#buy-button, .cb-primary-button {
    background-color: var(--color-plum-purple);
    color: #ffffff;
}

#token-warrant {
    background-color: var(--color-coral-pink);
    color: #ffffff;
}

.gradient {
background: rgb(144,40,47);
background: radial-gradient(circle, rgba(144,40,47,0.3) 0%, rgba(144,40,47,0.6) 0%, rgba(16,18,35,0.3730085784313726) 55%);
}

.transition-colors {
    transition-duration: .15s;
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(2, 132, 199);
}

.bg-primary.disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(229, 231, 235);
    color: rgba(128, 128, 128, 0.863);
    border: rgba(128, 128, 128, 0.863) 1px solid;
}

.bg-white {
    background-color: rgb(255 255 255);
}

.primary-button:hover:not(.disabled){
    background-color: rgb(3, 105, 161);;
}

.secondary-button:hover{
    background-color: whitesmoke;
}

.dropdown-button,
.dropdown-menu {
    width: 200px !important;
}

.dropdown-menu {
    border-radius: 1.5rem;
}

.dropdown-menu * {
    color: black;
    background-color: whitesmoke;
}

.dropdown-menu *:hover {
    color: #D4AF37;
    background-color: whitesmoke;
}

#distilleryNavItem .selected {
    color: white;
    background-color: black;
}
